.outer {
    width: 900px;
    margin: 0 auto;
    height: 100%;
}

.sbox {
    float: left;
    width: 180px;
    height: 250px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin: 20px;
}

.sbox a,.sbox span {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.sbox img {
    width: 90px;
    height: 90px;
    border: 2px solid white;
    margin-top: 30px;
    box-shadow: 3px 3px 13px #909090;
}

.follow a {
    width: 90px;
    background-color: orange;
    text-align: center;
    border: 1px solid orange;
    color: #fff;
    margin-left: 45px;
}

.follow a:hover {
    width: 90px;
    background-color: darkorange;
    border: 1px solid darkorange;
    color: #fff;
}
.pagination {
    margin: 0 10px 10px 0;
    float: right;
}